<div class="header">
    <div class="header_logo_name">
    <div class="header_logo">
        <img src="./assets/images/LOGO.webp">
    </div>
    <div class="name_logo">
        <p>Furniro</p>
    </div></div>
    <nav class="header_navigate">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="icon_main">
        <img class="icon_header" src="./assets/images/icon.webp" width="30px" height="25px">
        <img class="icon_header" src="./assets/images/loupe.webp">
        <img class="icon_header" src="./assets/images/follow.webp">
        <img class="icon_header" src="./assets/images/cart.webp">
    </div>
</div>